<p id="notice"><%= notice %></p>

<h1>Listing Barbers</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Image filename</th>
      <th>Bio</th>
      <th>First name</th>
      <th>Last name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @barbers.each do |barber| %>

        <% if (user_signed_in? and barber.user == current_user) %>
            <tr>
                <td><%= barber.user.email %></td>
                <td><%= image_tag root_url + "/images/" + barber.image_filename, size: "100x100", alt: barber.image_filename %></td>
                <td><%= barber.bio %></td>
                <td><%= barber.first_name %></td>
                <td><%= barber.last_name %></td>

                <td><%= link_to 'Show', barber %></td>
                <td><%= link_to 'Edit', edit_barber_path(barber) %></td>
                <td><%= link_to 'Destroy', barber, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
        <% else %>
            <tr>
                <td><%= barber.user.email %></td>
                <td><%= image_tag root_url + "/images/" + barber.image_filename, size: "100x100", alt: barber.image_filename %></td>
                <td><%= barber.bio %></td>
                <td><%= barber.first_name %></td>
                <td><%= barber.last_name %></td>
                <td><%= link_to 'Show', barber %></td>
            </tr>
        <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Barber', new_barber_path %>
