<p id="notice"><%= notice %></p>

<p>
  <strong>Appt start:</strong>
  <%= @appointment.appt_start %>
</p>

<p>
  <strong>Barber:</strong>
  <%= @appointment.barber.first_name %>
</p>

<p>
  <strong>Client name:</strong>
  <%= @appointment.client_name %>
</p>

<p>
  <strong>Client phone:</strong>
  <%= @appointment.client_phone %>
</p>

<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', barber_appointments_path(@appointment.barber) %>
