<p id="notice"><%= notice %></p>

<p>
  <strong>Barber:</strong>
  <%= @review.barber %>
</p>

<p>
  <strong>Client name:</strong>
  <%= @review.client_name %>
</p>

<p>
  <strong>Str:</strong>
  <%= @review.str %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @review.rating %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
