<!DOCTYPE html>
<html>
<head>
  <title>BarbershopApptScheduler</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "vendor/modernizr" %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300|Lato:400,300,700' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>

    <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
            <li class="name">
                <h1><%= link_to "Barbershop Appointment Scheduler", root_url %></h1>
            </li>
            <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
            <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>
        <section class="top-bar-section">
            <!-- Right Nav Section -->
            <ul class="right devise_login">
                <% if user_signed_in? %>
                <li class="current_user">
                    <% if current_user.barber.nil? %>
                    Unregistered Barber
                    <% else %>
                    Signed in as <%= current_user.barber.first_name %> <%= current_user.barber.last_name %>
                    <% end %>
                </li>
                <li class="active"><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
                <% else %>
                <li class="active">
                    <%= link_to "Sign up", new_user_registration_path %>
                </li>
                <li>
                    <%= link_to "Sign in", new_user_session_path %>
                </li>
                <% end %>
            </ul>

            <!-- Left Nav Section -->
            <ul class="left">
                <% if user_signed_in? %>
                <li><%= link_to 'My Appointments', barber_appointments_path(current_user.barber), :class => "red" %></li>
                <% end %>
            </ul>
        </section>
    </nav>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>


<%= yield %>

</body>
</html>
