<!DOCTYPE html>
<html>
<head>
  <title>BarbershopApptScheduler</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "vendor/modernizr" %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

    <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
            <li class="name">
                <h1><%= link_to "Barbershop Appointment Scheduler", root_url %></h1>
            </li>
            <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
            <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>
        <section class="top-bar-section">
            <!-- Right Nav Section -->
            <ul class="right devise_login">
                <% if user_signed_in? %>
                <li class="current_user">
                    Signed in as <%= current_user.email %>
                </li>
                <li class="active"><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
                <% else %>
                <li class="active">
                    <%= link_to "Sign up", new_user_registration_path %>
                </li>
                <li>
                    <%= link_to "Sign in", new_user_session_path %>
                </li>
                <% end %>
            </ul>

            <!-- Left Nav Section -->
            <ul class="left">
                <li><%= link_to 'My Appointments', root_url, :class => "red" %></li>
            </ul>
        </section>
    </nav>
    <div class="row">
        <div class="large-12 columns">
            <p class="notice"><%= notice %></p>
            <p class="alert"><%= alert %></p>
        </div>
    </div>






    <!--<div id="user_nav">
        <% if user_signed_in? %>
        Signed in as <%= current_user.email %>. Not you?
        <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
        <% else %>
        <%= link_to "Sign up", new_user_registration_path %> or
        <%= link_to "Sign in", new_user_session_path %>
        <% end %>
    </div>-->

<%= yield %>

</body>
</html>
